footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 5rem;
    max-width: 1120px;

    margin: 0 auto;
    padding: 0.5rem 2rem;

    a {

        & + a {
            margin-left: 1.5rem;
        }

        &:hover{
            color: var(--green);
        }
    }

    button {
        border: none;
        padding: 1rem;
        background-color: var(--green);

        transition: filter 0.2s;
        &:hover{
            filter: brightness(0.8);
        }
    }
}